* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: Lato, Helvetica Neue For Number, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

/* reset */

.icon {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.markdown-body {
  font-size: 14px !important;
}



// WEBPACK FOOTER //
// ./src/App.css